<div class="container">
    <div class="login-container">
        <h2>Login to Hospital Management System</h2>
        <!-- Add Angular form directives -->
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" [(ngModel)]="formData.username" required />
            </div>
    
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" [(ngModel)]="formData.password" required />
            </div>
        
            <button type="submit">Login</button>
            <div class="forgot-link">
                <p><a href="/forgot-password">Forgot password?</a></p>
            </div>
        </form>
        <div class="register-link">
            <p>Don't have an account? <a href="/register">Register here</a></p>
        </div>
    </div>
</div>