<div class="container">
    <div class="registration-container">
        <h2>Register for Hospital Management System</h2>
        
        <!-- Add Angular form directives -->
        <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="formData.username" required>
        </div>
        
        <!-- <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
        </div> -->
        
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="formData.password" required>
        </div>
        
        <button type="submit">Register</button>
        </form>
        <div class="login-link">
            <p>Already have an account? <a href="/login">Login here</a></p>
        </div>
    </div>
</div>
  